In [8]:
import pandas as pd

towers = pd.read_csv("cell_towers.csv")
towers.head()

,X,Y,FID,PIN,MAPBLOCKLOT,MUNICODE,TAXYR,NAME,CARD,LLINE,...,UNITS,YRBLT,EFFYR,ADJRCNLD,ORIG_FID,OWNER_NAME,CreationDate,Creator,EditDate,Editor
0,1.310994e+06,416621.397980,1,0152A00174000000,152-A-174,939,2016,Robinson,1,2,...,1,1990,NaN,68200,1,CROWN ATLANTIC COMPANY LLC,2015/11/24 16:08:55,GISHelp,2015/11/24 16:08:55,GISHelp
1,1.387932e+06,380383.827738,3,0379M00020000000,379-M-20,408,2016,8th Ward - McKEESPORT,1,3,...,1,2000,NaN,99000,3,GLOBAL SIGNAL ACQUISITIONS IV LLC,2015/11/24 16:08:55,GISHelp,2015/11/24 16:08:55,GISHelp
2,1.294820e+06,469468.257837,5,1063B00145000100,1063-B-145-1,883,2016,Bell Acres,1,6,...,1,1997,NaN,146900,5,CROWN ATLANTIC COMPANY LLC,2015/11/24 16:08:55,GISHelp,2015/11/24 16:08:55,GISHelp
3,1.376124e+06,427677.081577,6,0228E00168000000,228-E-168,931,2016,O''Hara,1,7,...,1,2005,NaN,94600,6,LASER WASH GROUP LLC,2015/11/24 16:08:55,GISHelp,2015/11/24 16:08:55,GISHelp
4,1.367142e+06,417381.036552,7,0125F00047000000,125-F-47,112,2016,12th Ward - PITTSBURGH,1,6,...,1,1998,NaN,198000,7,CROWN ATLANTIC COMPANY LLC,2015/11/24 16:08:55,GISHelp,2015/11/24 16:08:55,GISHelp

In [10]:
towers['MUNICODE'].value_counts()

934    14
925    10
880    10
940     8
870     6
       ..
118     1
116     1
114     1
110     1
106     1
Name: MUNICODE, Length: 74, dtype: int64