#### Nick -- Cell Towers

Cellular connections have become more and more important to family life. As parents get busy and their children grow older, they are doing more and more work remotely and taking more and more calls while driving kids to school or other activities.

Another important function of cellular towers is to allow parents to ensure their kids can always contact them. The average age kids get their first phone has been steadily decreasing. An increasing number of venues and activities require the use of an internet-connected phone. It's also an important safety feature, both in terms of kids being able to contact authorities and contact one's parents when they begin to spend time alone or at friends' houses.

Together, this means the density of cell phone towers is an important metric for the suitability of a family to be raised in a neighborhood.

In [21]:
import pandas as pd

towers = pd.read_csv("cell_towers.csv")
towers = towers["MUNICODE"].value_counts()
towers.head()

934    14
925    10
880    10
940     8
939     6
Name: MUNICODE, dtype: int64

The cell towers data set does not provide what neighborhood a cell tower is in. Instead, it provides a municipality code, which can be used to determine the neighborhood via the municipality dataset.

In [23]:
municipalities = pd.read_csv("municipalities.csv")[["NAME", "MUNICODE", "ACRES"]]
municipalities.head()

                NAME  MUNICODE        ACRES
0           CHESWICK       815   350.191284
1          EDGEWORTH       824  1030.743774
2          SEWICKLEY       851   718.309570
3  SEWICKLEY HEIGHTS       869  4738.989746
4             HARMAR       915  4060.858643

Finally, we can combine the two datasets:

In [50]:
municipalities["N_TOWERS"] = municipalities.MUNICODE.apply(lambda x: towers[x] if x in towers else 0)
municipalities.sort_values('N_TOWERS', ascending=False).head()

           NAME  MUNICODE         ACRES  N_TOWERS
120  PENN HILLS       934  12455.728516        14
96         MOON       925  15352.370117        10
30         PLUM       880  18545.425781        10
38         ROSS       940   9257.419922         8
109     HAMPTON       914  10367.599609         6

In [52]:
municipalities["DENSITY"] = municipalities.N_TOWERS/municipalities.ACRES
municipalities.sort_values('DENSITY', ascending=False).head()

              NAME  MUNICODE        ACRES  N_TOWERS   DENSITY
23        MILLVALE       838   441.883026         2  0.004526
70    WEST MIFFLIN       870  1510.908081         6  0.003971
42            ETNA       827   505.648651         2  0.003955
18        TARENTUM       855   903.488770         3  0.003320
31  BRADDOCK HILLS       872   603.870605         2  0.003312

In [54]:
municipalities.sort_values('DENSITY', ascending=False)['DENSITY'].plot.bar(title='Number of Towers per Acre', figsize=(25,10))

<ipython-input-54-84dbed383879>:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  municipalities["NAME"].sort_values('DENSITY', ascending=False)['DENSITY'].plot.bar(title='Number of Towers per Acre', figsize=(25,10))

ValueError: No axis named DENSITY for object type Series